<div class="login-wrapper">
  <form *ngIf="currentPage === 'login'" class="login-form" autocomplete="off" [formGroup]="loginDataForm">
    <h1 class="title">
      Login
    </h1>
    <div class="form-row">
      <label for="login">E-mail</label>
      <input type="email" name="email" id="email" class="form-field" placeholder="E-mail" formControlName="email">
      <span class="validate-msg">The E-mail is required.</span>
    </div>
    <div class="form-row">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="form-field" placeholder="Password" formControlName="password">
      <span class="validate-msg">The Password is required.</span>
    </div>
    <div class="form-row">
      <button class="login-btn" (click)="login()">Login</button>
    </div>
    <div class="form-row">
      <a (click)="currentPage = 'registration'">Create new account</a>
    </div>
  </form>
  <form *ngIf="currentPage === 'registration'" class="login-form" [formGroup]="registrationDataForm">
    <h1 class="login100-form-title p-b-59">
      Create new account
    </h1>
    <div class="form-row">
      <label for="first-name">First Name</label>
      <input type="text" name="first-name" id="first-name" class="form-field" placeholder="First Name" formControlName="firstName">
      <span class="validate-msg">The First Name is required.</span>
    </div>
    <div class="form-row">
      <label for="last-name">Last Name</label>
      <input type="text" name="last-name" id="last-name" class="form-field" placeholder="Last Name" formControlName="lastName">
      <span class="validate-msg">The Last Name is required.</span>
    </div>
    <div class="form-row">
      <label for="username">E-mail</label>
      <input type="email" name="email" id="email" class="form-field" placeholder="E-mail" formControlName="email">
      <span class="validate-msg">The E-mail is required.</span>
    </div>
    <div class="form-row">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="form-field" placeholder="Password" formControlName="password">
      <span class="validate-msg">The Password must be at least 6 characters long</span>
    </div>
    <div class="form-row">
      <label for="confirm-password">Confirm Password</label>
      <input type="password" name="confirm-password" id="confirm-password" class="form-field" placeholder="Confirm assword" formControlName="confirmPassword">
      <span class="validate-msg">The Confirm Password confirmation does not match.</span>
    </div>
    <div class="form-row">
      <button class="login-btn" (click)="registration()">Create</button>
      <span *ngIf="isUserExist" class="exist-user-msg">User with email {{ emailOfExistUser }} is exist.</span>
    </div>
    <div class="form-row">
      <a (click)="currentPage = 'login'">back to login</a>
    </div>
  </form>
</div>
