<div class="dashboard-header">
  <!-- <div class="dashboard-menu-button" (click)="openNav()" [ngClass]="open ? 'dashboard-menu-open' : ''">
    <i class="fas fa-bars"></i>
    <i class="fas fa-times"></i>
  </div> -->
  <div class="dashboard-header__logo logo">
    <a routerLink="/">
       LOGO
    </a>
  </div>
  <div class="dashboard-header__user-info">
    <ng-container *ngIf="isUserAuthorized(); else authUser">
      <span class="greeting">Hey, {{user?.firstName}}</span>
      <span (click)="logout()" class="sign-control">Logout
        <!-- <i class="far fa-power-off icon-right"></i> -->
      </span>
    </ng-container>
    <ng-template #authUser>
      <span>
        <a routerLink="/login" class="sign-control">
          Login
       </a>
      </span>
    </ng-template>

  </div>
</div>

<div class="dashboard" [ngClass]="open ? 'dashboard-menu-open' : ''">
  <div class="dashboard__menu">
    <app-dashboard-menu (hideMenu)="open = false;"></app-dashboard-menu>
  </div>
  <div class="dashboard__content">
    <div class="content-data">
      <router-outlet>
      </router-outlet>
    </div>
  </div>
</div>