<div class="dashboard-header">
  <button class="dashboard-header__menu-btn" (click)="openNav()">
    <i class="material-icons">menu</i>
  </button>
  <div class="dashboard-header__logo logo">
    <a routerLink="/">
       LOGO
    </a>
  </div>
  <div class="dashboard-header__user-info">
    <ng-container *ngIf="authService.isUserAuthorized(); else authUser">
      <span class="greeting">Hey, {{user?.firstName}}</span>
      <span (click)="logout()" class="sign-control">Logout
        <!-- <i class="far fa-power-off icon-right"></i> -->
      </span>
    </ng-container>
    <ng-template #authUser>
      <span>
        <a routerLink="/login" class="sign-control">
          Login
       </a>
      </span>
    </ng-template>

  </div>
</div>
<div class="dashboard" [ngClass]="open ? 'menu-open' : ''">
  <div class="dashboard__menu">
    <app-dashboard-menu (onHideMenu)="open = false;"></app-dashboard-menu>
  </div>
  <div class="dashboard__content">
    <div class="content-data">
      <router-outlet>
      </router-outlet>
    </div>
  </div>
</div>
<div *ngIf="open" class="menu-open-shadow">
</div>