<li class="task-item" appClickOutside (clickOutside)="clickOutsideEdit($event)" #taskItemContainer>
  <div *ngIf="!isEdit" class="task-item__info">
    <input type="checkbox" name="is-tasck-complete" [checked]="tasksItem.isComplete" (click)="changeTaskStatus()">
    <span class="task-item__title">{{ tasksItem.title }}</span>
  </div>
  <input *ngIf="isEdit" type="text" class="form-field" placeholder="Task title" [(ngModel)]="newTaskTitle">
  <div *ngIf="!isEdit" class="task-item__controls">
    <button (click)="isSharedOpen = true"  #sharedButton><i class="material-icons">reply</i></button>
    <button *ngIf="!tasksItem.isComplete" (click)="isEdit = true"><i class="material-icons">edit</i></button>
    <button (click)="deleteTask(tasksItem.id)"><i class="material-icons">delete</i></button>
  </div>
  <div *ngIf="isEdit" class="task-item__controls">
    <button (click)="updateTask()" [disabled]="newTaskTitle.trim() === ''"><i class="material-icons">check</i></button>
    <button (click)="closeEditing()"><i class="material-icons">close</i></button>
  </div>
  <span *ngIf="tasksItem.sharedFromUser !== ''" class="task-item__shared-from">Shared from: {{ tasksItem.sharedFromUser }}</span>
  <div *ngIf="isSharedOpen" class="task-item__shared-box shared-box" appClickOutside (clickOutside)="clickOutsideSharedBlock($event)">
    <button (click)="isSharedOpen = false" class="shared-box__close-btn"><i class="material-icons">close</i></button>
    <span>Shared task with:</span>
    <hr>
    <div class="shared-box__content">
      <button *ngFor="let user of sharedUsers" (click)="sharedTask(tasksItem, user)">{{ user.email }}</button>
    </div>
  </div>
</li>
