.add-new-task {
  display: flex;
  padding: 0 20px;
  &__btn {
    background: #244632;
    color: #fff;
    width: 60px;
    padding: 10px 0;
    border-radius: 7px;
    margin-left: 10px;
    &:hover {
      background: darken(#244632, 10%);
    }
  }
}
