.user-dashboard {
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__img-wrapper {
    width: 30%;
    img {
      width: 100%;
    }
  }
}