.dashboard-menu__list {
  list-style-type: none;
  &__item {
    a {
      padding: 10px;
      text-decoration: none;
      color: #000;
      display: block;
      box-sizing: border-box;
      &:hover {
        background: darken(#f9f9f9, 5%);
      }
      &.active {
        background: darken(#f9f9f9, 15%);
      }
    }
  }
}
.dashboard-menu__wrapper {
  &__logo {
    display: none;
  }
  hr {
    margin: 0;
    border: none;
    border-top: 1px solid green;;
  }
}

@media screen and (max-width: 900px) {
  .dashboard-menu__wrapper {
    &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 63px;
      span {
        padding: 20px;
      }
    }
  }
}